Source: mpsolve
Section: science
Priority: extra
Maintainer: Leonardo Robol <leo@robol.it>
Build-Depends: debhelper (>= 7.0.0), 
	autotools-dev,
	check,
	libgmp-dev | libgmp3-dev,
	libgtk-3-dev | libgtk2.0-dev, 
	libcairo2-dev,
	libqt4-dev,
	libtcmalloc-minimal4 | libtcmalloc-minimal0,
        python-dev,
	dh-python | python-support,
	liboctave-dev | octave3.2-headers,
	automake,
	autoconf,
	libtool
Standards-Version: 3.9.4
Homepage: http://mpsolve.dm.unipi.it/mpsolve/
Vcs-Git: git://bezout.dm.unipi.it/mpsolve.git

Package: mpsolve
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmps3 (= ${binary:Version})
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii. 
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis. 
 .
 This package contains the command line version of MPSolve.

Package: libmps3
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 .
 This package contains the libmps shared library

Package: libmps3-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, libmps3 (= ${binary:Version})
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 .
 This package contains the development headers and the .so library.

Package: libmps-fortran0
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 .
 This package contains the module MPS that can be used to call MPSolve from
 FORTRAN programs. 

Package: libmps-fortran0-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 .
 This package contains the module MPS that can be used to compile FORTRAN
 programs using MPSolve.

Package: python-mpsolve
Architecture: any
Section: python
Depends: ${misc:Depends}, libmps3 (= ${binary:Version}), ${shlibs:Depends}
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 .
 This package contains the Python interface to libmps. 

Package: octave-mpsolve
Architecture: any
Section: python
Depends: ${misc:Depends}, libmps3 (= ${binary:Version}), ${shlibs:Depends}
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 .
 This package contains the Octave interface to libmps, i.e., the command
 mps_roots. 

Package: xmpsolve
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmps3 (= ${binary:Version})
Description: Multiprecision polynomial solver
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 .
 This package contains the graphical version of MPSolve.

Package: mandelbrot-solver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmps3 (= ${binary:Version})
Description: A solver for Mandelbrot polynomials based on MPSolve
 A polynomial rootfinder that can determine arbitrary precision approximations
 with guaranteed inclusion radii.
 It supports exploiting of polynomial structures such as sparsisty and allows
 for polynomial implicitly defined or in some non standard basis.
 This binary, provided as an example of custom polynomial implementation in the MPSolve
 package, uses the particular structure of this family of polynomials to develop
 an efficient solver that exhibit experimental O(n^2) complexity.
 .
 This package contains the specialization of mpsolve to Mandelbrot polynomials.

